In [1]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

### Kombinasi 2 Preprocessing :
* Delete Duplicate
* Impute Null pake iterative imputer
* Outlier capping di sisi kanan
* Encoding 
* Standard scaler
* Feature selection -> K-Best

In [2]:
df = pd.read_csv('../../Punya Andi/UFC_kombinasi2.csv')

In [3]:
df.head()

,weight_class,B_avg_opp_SIG_STR_att,B_avg_TOTAL_STR_att,B_avg_opp_TOTAL_STR_att,B_avg_opp_HEAD_att,B_avg_opp_BODY_att,B_avg_opp_BODY_landed,B_avg_opp_DISTANCE_att,B_win_by_KO/TKO,B_Height_cms,B_Weight_lbs,R_avg_opp_TOTAL_STR_att,R_avg_BODY_att,R_avg_opp_BODY_att,R_avg_DISTANCE_att,R_win_by_KO/TKO,R_Height_cms,R_Reach_cms,R_Weight_lbs,gender
0,7.0,82.500000,37.000000,131.687500,65.000000,11.000000,6.937500,71.000000,0.0,182.88,185.0,97.000000,8.250000,5.000000,40.000000,0.0,182.88,177.80,185.0,1.0
1,5.0,89.953125,141.210938,91.882812,83.210938,3.960938,2.070312,88.695312,3.0,177.80,155.0,129.593750,20.125000,17.593750,98.250000,0.0,180.34,187.96,170.0,1.0
2,6.0,74.937500,66.000000,97.914062,59.750000,8.000000,5.218750,64.500000,0.0,182.88,170.0,113.221941,12.500000,2.968750,76.750000,0.0,185.42,185.42,170.0,1.0
3,6.0,37.226562,51.500000,52.046875,28.773438,6.656250,4.453125,24.234375,3.0,175.26,185.0,125.441042,8.181122,8.554874,67.441225,4.0,177.80,185.42,170.0,1.0
4,3.0,93.299805,102.170410,125.859863,76.181396,10.418213,9.236328,69.770264,0.0,165.10,135.0,165.000000,20.125000,19.159180,88.000000,3.0,160.02,167.64,135.0,1.0

In [ ]:
X = df.drop(['B_Reach'])